body{
   
}
.too1{
    text-align: center;
    background-color: rgb(200, 232, 14);
    border-top: 2px solid blue;

}
.mor4{
    text-align: center;
    display: inline;
    background-color: aqua;

}
h2{
    text-align: center;
}